<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BlitzkriegApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/flipclock/flipclock.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>


    @Html.Partial("_UserTopMenuPartial")

    <div class="row">

        @Html.Partial("_UserMenuPartial")

        <div class="col">

            @RenderBody()
            
        </div>

        @Html.Partial("_NotificationMenuPartial")


    </div>

    <hr />

    <div class="container">
        <div class="row">
            <div class="col-12">
                <footer>
                    <p>&copy; @DateTime.Now.Year — LST</p>
                </footer>
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/MyJS.js"></script>
    <script src="~/Scripts/flipclock/flipclock.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
