@using Microsoft.AspNet.Identity

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    @Html.ActionLink("Blitzkrieg24", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Blitzkrieg24", @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">@Html.ActionLink("Strona główna", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Strona główna", @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Informacje", "About", "Home", routeValues: null, htmlAttributes: new { title = "Informacje", @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Kontakt", "Contact", "Home", routeValues: null, htmlAttributes: new { title = "Kontakt", @class = "nav-link" })</li>
        </ul>
        <ul class="navbar-nav">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline my-2 my-lg-0" }))
                {
                    @Html.AntiForgeryToken()
                    <li class="nav-item">
                        @Html.ActionLink("Witaj, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Zarządzaj", @class = "nav-link" })
                    </li>
                    <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
                    <li class="nav-item clock" style="margin:0;"></li>
                }
            }
            else
            {
                <li class="nav-item">@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>

            }
        </ul>
    </div>
</nav>