@model BlitzkriegApp.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj";
}

<div class="row p-3">
    <div class="col-1 text-center">
        <img src="~/Images/user-male-icon.png" class="rounded-circle img-fluid" alt="Uzytkownik">
    </div>
    <div class="col">
        <div class="row">
            <h3 class="custom-control-inline" style="line-height:34px;">Imię Nazwisko<span class="small" style="line-height:34px;padding:0 20px;">| Stanowisko</span></h3>
        </div>

        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Panel użytkownika <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Dysk</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Zadania</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Kalendarz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Dyskusje</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Wizytówka zewnętrzna</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row p-3 bg-light text-dark">


    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Zmień ustawienia konta</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Hasło:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Zmień hasło", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Utwórz", "SetPassword")
                }
                ]
            </dd>
            <dt>Logowania zewnętrzne:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Zarządzaj", "ManageLogins") ]
            </dd>
            @*
                Numery telefonów mogą być używane jako drugi składnik w systemie uwierzytelniania dwuskładnikowego.

                 Zapoznaj się z <a href="https://go.microsoft.com/fwlink/?LinkId=403804">tym artykułem</a>,
                    aby uzyskać szczegółowe informacje na temat konfigurowania tej aplikacji ASP.NET do obsługi uwierzytelniania dwuskładnikowego przy użyciu wiadomości SMS.

                 Po skonfigurowaniu uwierzytelniania dwuskładnikowego usuń komentarz z następującego bloku
            *@
            @*
                <dt>Numer telefonu:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Usuń" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
            *@
            <dt>Uwierzytelnianie dwuetapowe:</dt>
            <dd>
                <p>
                    Nie skonfigurowano dostawców uwierzytelniania dwuskładnikowego. Zapoznaj się z <a href="https://go.microsoft.com/fwlink/?LinkId=403804">tym artykułem</a>,
                    aby uzyskać szczegółowe informacje dotyczące konfigurowania tej aplikacji ASP.NET do obsługi uwierzytelniania dwuskładnikowego.
                </p>
                @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Włączono
                            <input type="submit" value="Wyłącz" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Wyłączono
                            <input type="submit" value="Włącz" class="btn btn-link" />
                            </text>
                        }
                    }*@
            </dd>
        </dl>
    </div>

</div>